<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Hongyi Zhang">
  <title>Resume</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/mystyle.css">
</head>
<body>
  <div id="content">
  {% block content %}
  <div class="container">
    <div class="page-header">
      <h1>{{ profile.name }}  <small>{{profile.bio}}</small></h1>
      <!-- <p><i class="fa fa-envelope-o"></i> {{ profile.email }}</p> -->
    </div>
    {% if edu %}
    <div class="row">
      <div class="col-md-3">
        <h3><!-- <i class="fa fa-graduation-cap"></i> -->Education</h3>
        <p><small>{{ edu.summary }}</small></p>
      </div>
      <div class="col-md-9">
        {% for item in edu.university %}
            <h4 class="inline block">{{item.name}} <span><p style="float:right"><small>{{item.time}}</small></p></span></h4>
          <p><i class="fa fa-map-marker"></i> <small>{{item.location}}</small></p>
          <ul>
            <li>{{item.summary}}</li>
            {% if item.highlight %}
              {% for highlight in item.highlight %}
                <li>{{highlight}}</li>
              {% endfor %}
            {% endif %}
          </ul>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% if work %}
    <hr />
    <div class="row">
      <div class="col-md-3">
        <h3>Work Experience</h3>
      </div>
      <div class="col-md-9">
        {% for item in work %}
          <h4 class="inline block">{{item.name}} <span><p style="float:right"><small>{{item.time}}</small></p></span></h4>
          <p>{{item.company}} <span style="float:right"><small>{{item.location}}</small></span></p>
          <ul>
            {% if item.highlight %}
              {% for highlight in item.highlight %}
                <li>{{highlight}}</li>
              {% endfor %}
            {% endif %}
          </ul>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% if project %}
    <hr />
    <div class="row">
      <div class="col-md-3">
        <h3>Projects</h3>
        <p><small>Basically selected courseworks</small></p>
      </div>
      <div class="col-md-9">
        {% for item in project %}
          <h4 class="inline block">{{item.name}} <span><p style="float:right"><small>{{item.time}}</small></p></span></h4>
          <ul>
            <li>{{item.summary}}</li>
            {% if item.highlight %}
              {% for highlight in item.highlight %}
                <li>{{highlight}}</li>
              {% endfor %}
            {% endif %}
          </ul>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% if skill %}
    <hr />
    <div class="row">
      <div class="col-md-3">
        <h3>Skills</h3>
      </div>
      <div class="col-md-9">
        {% for item in skill %}
          <h4>{{item.name}}</h4>
          <ul>
            {% if item.list %}
              {% for li in item.list %}
                <li>{{li}}</li>
              {% endfor %}
            {% endif %}
          </ul>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
  {% endblock %}
  </div>
  <div id="footer">
    {% block footer %}
    <div class="container text-center">
    <hr />
    <ul class="list-inline">
      <li><a href="http://github.com/zhanghongyi"><i class="fa fa-3x fa-github-alt"></i></a></li>
      <li><a href="http://ca.linkedin.com/in/hongyiz"><i class="fa fa-3x fa-linkedin"></i></a></li>
    </ul>
    <p>Last updated October, 2015</p>
    <p>&copy; Copyright 2015 by <a href="http://zhanghongyi.github.io/">Hongyi Zhang</a>.</p>
    </div>
    {% endblock %}
  </div>
</body>
</html>